*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #141126;
}
#logo{
    opacity: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: end 1s ease forwards 3s;
}
#name{
    opacity: 0;
    position: absolute;
    left: 60%;
    top: 55%;
    animation: start 0.9s ease forwards 4.7s;
}
#logo-fin{
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: start 0.7s ease forwards 4s;
}
#logo path:nth-child(2){
    stroke-dasharray: 345;
    stroke-dashoffset: 345;
    animation: line-animation 2s ease forwards;
}
#logo path:nth-child(3){
    stroke-dasharray: 163;
    stroke-dashoffset: 163;
    animation: line-animation 2s ease forwards 0.2s;
}
#logo path:nth-child(4){
    stroke-dasharray: 236;
    stroke-dashoffset: 236;
    animation: line-animation 2s ease forwards 0.4s;
}
#logo path:nth-child(5){
    stroke-dasharray: 324;
    stroke-dashoffset: 324;
    animation: line-animation 2s ease forwards 0.6s;
}
#logo path:nth-child(6){
    stroke-dasharray: 327;
    stroke-dashoffset: 327;
    animation: line-animation 2s ease forwards 0.8s;
}
#logo path:nth-child(7){
    stroke-dasharray: 349;
    stroke-dashoffset: 349;
    animation: line-animation 2s ease forwards 1s;
}
#logo path:nth-child(8){
    stroke-dasharray: 337;
    stroke-dashoffset: 337;
    animation: line-animation 2s ease forwards 1.2s;
}
#logo path:nth-child(9){
    stroke-dasharray: 324;
    stroke-dashoffset: 324;
    animation: line-animation 2s ease forwards 1.4s;
}
#logo path:nth-child(10){
    stroke-dasharray: 345;
    stroke-dashoffset: 345;
    animation: line-animation 2s ease forwards 1.6s;
}
#logo path:nth-child(11){
    stroke-dasharray: 163;
    stroke-dashoffset: 163;
    animation: line-animation 2s ease forwards 1.8s;
}
#logo path:nth-child(12){
    stroke-dasharray: 342;
    stroke-dashoffset: 342;
    animation: line-animation 2s ease forwards 2s;
}
#logo path:nth-child(13){
    stroke-dasharray: 379;
    stroke-dashoffset: 379;
    animation: line-animation 2s ease forwards 2.2s;
}
@keyframes line-animation{
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes start{
    to{
        opacity: 1;
    }
}
@keyframes end{
    from{
        visibility: visible
    }
    to{
        visibility: hidden;
    }
}