*, *:before, *:after{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  overflow-y: hidden;
}
.kat-bg a{
  display: block;
}
.bg{
  background: url('../img/bg.png') center center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.main{
  height: 100vh;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 87px;
  left: 0px;
  top: 0px;
  background: rgba(0, 13, 17, 0.94);
}
.logo{
  margin-top: 15px;
}
.menu{
  margin-left: -50px;
  margin-top: 15px;
  width: 40%;
}
.social{
  margin-top: 15px;
}
.social a{
  margin-right: 15px;
}
.menu ul{
  display: flex;
  justify-content:space-around;
  list-style: none;
}
.menu-item a{
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 21px;
}
.menu-item a:hover{
  border-bottom: 2px solid #FF602E;
}
.menu-item a:active{
  color: #FF602E;
}
.katalog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.kat-bg{
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(1, 2, 3, 0.8);
  border: 1px solid #FF602E;
  box-sizing: border-box;
  border-radius: 30px;
}
.aukcion{
  display: flex;
  justify-content: center;
  align-items: center;
}
.gupper2{
  height: 200px;
}
.katt{
  display: flex;
}
.kat-item{
  margin: 10px;
}
.infor{
  background: url('../img/coin.png?v=3') no-repeat center;
  display: flex;
  justify-content: center;
  height: 785px;
  margin-top: 150px;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer a{
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  opacity: 0.6;
}
footer a:hover{
  opacity: 1;
}
.logo-2{
  margin-top: 100px;
}
.gupper{
  height: 93px;
}
.kontakts{
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.oranger{
  width: 407px;
  height: 7px;
  background: #FF602E;
  border-radius: 21px;
  opacity: 0.8;
}
.sociale{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
}
.sociale a{
  margin-right: 10px;
  margin-top: 20px;
}
.bg-kontakts{
  padding: 40px;
  background: rgba(1, 2, 3, 0.8);
  border: 1px solid #FF602E;
  box-sizing: border-box;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bg-kontakts a{
  text-decoration: none;
  line-height: 83px;
  text-align: center;
  font-size: 44px;
  color: #D9D9D9;
}
.bg-kontakts a:hover{
  color: #fff;
}
.gupper1{
  height: 500px;
}
.namem{
  display: flex;
  color: #FF602E;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
}
.name-master{
  color: #fff;
  margin-right: 10px;
}
.about{
  margin-left: -70px;
  margin-top: 270px;
}
.show{
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
